<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>

<body>

    <header>
        My language learning

        <div>

            <%- include('../partials/nav') %>

        </div>

    </header>

    <article>

        <div class="side-button">

            <div>

                <h1>
                    <%= singleWord.word %>
                </h1>

                <p class="translated-to-eng">
                    <%= singleWord.translatedToEng %>
                </p>

            </div>

            <div>

                <form action="/my-words/<%= singleWord._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="delete-button">Delete</button>
                </form>

            </div>

        </div>

        <h2>Edit</h2>

        <form action="/my-words/<%= singleWord._id %>?_method=PUT" method="POST" class="edit-form">
            <label for="word">Word</label>
            <input type="text" name="word" id="word" value="<%= singleWord.word %>">
            <label for="translatedToEng">Translation</label>
            <input type="text" name="translatedToEng" id="translatedToEng" value="<%= singleWord.translatedToEng %>">
            <div>
                <button type="submit">Update</button>
            </div>
        </form>

        </div>

    </article>

</body>

</html>