<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        My language learning
        <div>
            <%- include('./partials/nav') %>
        </div>
    </header>


    <div id="home-page-block">

        <div class="my-words-block">

            <p><a href="/my-words">My words</a></p>

            <% if (wordLength> 1) { %>

                <p>You've learnt <%= wordLength %> words.</p>

                <% } else if (wordLength===0) { %>

                    <p>Start adding words.</p>

                    <% } else { %>

                        <p>You've learnt <%= wordLength %> word.</p>

                        <% } %>

        </div>

        <div class="my-words-block">

            <p><a href="/my-phrases">My phrases</a></p>

            <% if (phrasesLength> 1) { %>

                <p>You've learnt <%= phrasesLength %> phrases.</p>

                <% } else if (phrasesLength===0) { %>

                    <p>Start adding phrases.</p>

                <% } else { %>

                    <p>You've learnt <%= phrasesLength %> phrase.</p>

                    <% } %>

        </div>

    </div>
    

</body>

</html>