<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Franglais my phrase</title>
</head>

<body>
    <header>
        <div>
            Franglais
            <img class="flag-header" src="https://cdn.countryflags.com/thumbs/france/flag-round-250.png"
                alt="round french flag thumbnail">
        </div>
        <div>
            <%- include('../partials/nav') %>
        </div>
    </header>

    <article>

        <div class="side-button">

            <div>
                <h1>
                    <%= singlePhrase.phrase %>
                </h1>
                <p class="translated-to-eng">
                    <%= singlePhrase.translatedToEng %>
                </p>
            </div>

            <div>
                <form action="/my-phrases/<%= singlePhrase._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </div>

        </div>

        <h2>Edit</h2>

        <form action="/my-phrases/<%= singlePhrase._id %>?_method=PUT" method="POST" class="edit-form">
            <label for="phrase">Word</label>
            <input type="text" name="phrase" id="phrase" value="<%= singlePhrase.phrase %>">
            <label for="translatedToEng">Translation</label>
            <input type="text" name="translatedToEng" id="translatedToEng" value="<%= singlePhrase.translatedToEng %>">
            <div>
                <button type="submit">Update</button>
            </div>
        </form>

    </article>

</body>

</html>